<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form>
            <form action="#">
                <div class="form-row mb-3">
                    <div class="form-group col-12">
                        <input class="form-control" type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-12">
                        <input class="form-control" type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group">
                        <Textarea class="col-12 form-control"></Textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button class="btn btn-dark col-12">Send</button>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>