<div class="row contact-section">
    <div class="col-md-5 align-self-center mb-5">
        <p class="text-center">Get In Touch</p><br>
        <div class="social-network-icons d-flex justify-content-center">
            <a href="https://github.com" target="_blank">
                <i class="fab fa-github fa-xl m-2 text-dark"></i>
            </a>
            <a href="https://github.com" target="_blank">
                <i class="fab fa-linkedin-in fa-xl m-2 text-dark"></i>
            </a>
            <a href="https://github.com" target="_blank">
                <i class="fab fa-facebook-f fa-xl m-2 text-dark"></i>
            </a>
        </div>
    </div>
    <div class="col-md-7">
        <form>
            <form action="#">
                <div class="form-row mb-3">
                    <div class="form-group col-12">
                        <input class="form-control" type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group col-12">
                        <input class="form-control" type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group">
                        <Textarea class="col-12 form-control"></Textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark col-12">Send</button>
                    </div>
                </div>
            </form>
        </form>
    </div>
</div>