<app-title title="About Me"></app-title>
<div class="row mb-5">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-5 text-end">
        <div class="row">
            <div class="col-xs-12 text-center profile-box">
                <img [src]="profileUrl" alt="" width="300px" height="300px">
                <p>{{aboutProfileName}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-start align-self-center">
        <h3>{{aboutParagraphName}}</h3>
        <p class="text-black-50">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias temporibus 
            fugit atque ad officiis tempore in voluptates harum quasi, 
            eligendi cum unde minima, nostrum ipsa fuga quis ea consequatur dignissimos.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias temporibus 
            fugit atque ad officiis tempore in voluptates harum quasi, 
            eligendi cum unde minima, nostrum ipsa fuga quis ea consequatur dignissimos.
        </p>
    </div>
    <div class="col-md-1"></div>
</div>