<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<div class="container">
  <div class="row mx-auto">
    <div class="col-xs-12">
      <app-about-me></app-about-me>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-xs-12">
      <app-portfolio></app-portfolio>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-xs-12">
      <app-blog></app-blog>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-xs-12">
      <app-team></app-team>
    </div>
  </div>
  <hr>
  <div class="row mx-auto">
    <div class="col-xs-12">
      <app-contact></app-contact>
    </div>
  </div>
</div>